/* styles.css */


::selection {color: #ffffff; background: #2600ff;}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f0;
    color: #2A3E52;
    margin: 0;
    word-wrap: break-word;
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  header {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    background: #F5F5F1;
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space out items */
    align-items: center;
  }
  
  header ul {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align items horizontally */
  }
  
  header ul li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    display: inline;
    margin-right: 24px;
  }
  
  nav ul li a {
    color: #2A3E52;
    text-decoration: none;
  }

  h1 {
    font-family: 'Inter', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }


  h2 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2937;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
}

  h3 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  p article {
    line-height: 1.6;
    margin-block-start: 0;
    margin-block-end: 24px;
  }

/*case study page*/

  .case-study-header {
    margin-bottom: 32px;
    padding-top: 64px;
  }

  .case-study-page h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-block-start: 0;
    margin-block-end: 1em;
  }

.case-study-page p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-block-start: 0;
    margin-block-end: 1em;
    max-width: 80ch;
  }

  .case-study-page .caption {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #64748B;
    margin-block-start: 0;
    margin-block-end: 1em;
  }

  .case-study-page .subtitle {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #64748B;
    margin-block-start: 0;
    margin-block-end: 1em;
    
  }

  .case-study-page ul {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 80ch;
  }

  .case-study-page li {
   margin-block-start: 0;
   margin-block-end: 0;
   }

  .case-study-page blockquote {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 80ch; 
    font-style: italic;
    border-left: 1px solid #2600ff;
    padding-left: 16px; /* Space between text and border */
    margin-left: 0; /* Removes default indentation */
    margin-bottom: 8px;
  }
  .case-study-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .case-study-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
  }

  .case-study-image {
    width: 65%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 24px;
  }

  span.stats {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 42px;
    color: #2600ff;
    margin-block-start: 0;
    margin-block-end: 1em;
  }

  .stats-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .next-case-study {
    margin-top: 24px;
    margin-bottom: 24px;
  }

/*homepage*/

  .container-intro {
    box-sizing:border-box; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .case-study-link {
    color: #2600ff;
    text-decoration: none;
  }
  
  .hero {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 49px;
    line-height: 1.4;
    padding-bottom: 42px;
    padding-top: 42px;
    min-height: 10px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  /*about page*/ 

  .about-container {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 24px;
    padding-bottom: 24px;
    /* height: calc(100vh - 181px) !important; */
  }

  .about-text {
    max-width: 60ch;
    font-size: 21px;
    line-height: 1.5;
  }

  .profile-pic {
    flex-shrink: 0;
    border-radius: 12px;
    background-size: cover;
    background-position: center; 
    width: 350px; 
    height: 350px;
    min-height: 350px;
  }

  /*footer*/

  footer {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    width: 100%;
    font-size: 13px;
  }
  .footer-text {
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 13px !important;
    margin-bottom: 0 !important; 
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
  }

  .footer-row.second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
    
  }

  .first {
    padding-top: 24px;
    border-top: 0.5px #2600ff solid;
    }

  footer a {
      color: #2600ff; /* Set the link color to your desired color */
      text-decoration: none; /* Remove underline */
    }
    
    /* Optional: Change color on hover */
    footer a:hover {
      color: #2600ff; /* Change color on hover */
    }


  /* index sections */

  .section-case-study {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    gap: 42px;
    width: 100%;
  }
  
  .section-case-study.reverse {
    flex-direction: row-reverse;
  }

  .section-divider {
    border-top: 0.5px #2600ff solid;
    padding-top: 24px;
  }

  .section-content {
    width: 50%;
  }
  
  .section-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .section-image.nli {
    padding: 0;
    width: 50%;
  }
  
  .section-image img {
    max-width: 100%;
  }
  
  .case-study-link {
    color: #2600ff;
    text-decoration: none;
  }

  .dagshub-image {
    background-color: #2600ff;
  }
  
  .nli-image {
    background-color: #14b8a6;
  }


  
  .subtitle {
    font-family: 'IBM Plex Mono', monospace;  
    font-size: 14px;
    color: #64748B;
    margin-block-start: 0;
    margin-block-end: 1em;
  }
  
  .company-name {
    color: #2563eb;
    font-weight: 500;
  }
  
  p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
  }
  
  ul {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    padding-left: 24px;
  }
  
  li {
    margin-bottom: 0.75rem;
    position: relative;
  }

  a {
    color: #2600ff;
    text-decoration: none;
  }

 

  a:hover {
    text-decoration:line-through;
  }
  
  .highlight {
    color: #2600ff;
    display: inline;
    
  }

 /* Mobile Responsive layout - makes a one column-layout instead of a two-column layout */

 @media (max-width: 800px) {
  header {
    flex-direction: column; /* Stack the header items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
  }

  .about-container {
    flex-direction: column;
  }

  .hero {
    font-size: 24px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 16px;
  }

  ul {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 24px;
  }

  .profile-pic {
    width: 100%;
    height: 200px;
  }

  .section-case-study {
    flex-direction: column;
    margin-bottom: 24px;
    gap: 0;
  }

  .section-case-study.reverse {
    flex-direction: column;
  }

  .section-content {
    width: 100%;
  }

  .section-image {
    width: 100%;
  }

  .section-image.nli {
    padding: 0;
    width: 100%;
  }

  .case-study-image {
    width: 100%;
  }
}

@media (min-width: 1620px) {
body {
  padding: 0 20vw;
}
}