---
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<Layout>

  <main>
    <div class="about-container">
      <div class="profile-pic" style="background-image: url('/assets/userpic_anna_3.jpeg'); background-size: cover; background-position: center; width: 350px; height: 350px;"></div>
      <div class="about-text">
      <h3>/*about me*/</h3>
      <p>Hi, I’m Anna, a UI/UX designer with 7 years of experience in product teams.</br> 
      I hold a B.Des. in Visual Communications from Bezalel Academy of Art and Design. </br> 
        I grew up in Moscow, and moved to Israel in my early twenties.</br>
        Passionate about the intersection of design, psychology, and technology, I strive to create digital products that are simple, intuitive, elegant, and inclusive.
      </br>
       I believe in continuous learning and and I enjoy being part of talented teams. 🙂</br>
       Will be happy to get in touch!
      </p>
      </div>
     </div>
  </main>



</Layout>
</body>
</html>
