---
import Layout from "../layouts/Layout.astro";
---


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anna Hyatt</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="case-study-page">
<Layout>
    <main>
        <div class="case-study-wrapper">
            <div class="case-study-header">
             <h2>NLI search system redesign, the “heart” of digital library</h2>
             <p class="subtitle">2021-2022 | UX/UI Designer | B2C | Digital Library | <a href="https://www.nli.org.il/he/search?projectName=NLI#&q=any,contains,%D7%99%D7%A8%D7%95%D7%A9%D7%9C%D7%99%D7%9D&bulkSize=30&index=0&sort=rank&t=allresults">Beta version (live)</a></p>
            
            </div>

            <div class="case-study-section">
                <img class="case-study-image" src="assets/search-hero.jpg" alt="NLI search system redesign">
                <p>
                    To begin with,<i>search</i> lies in the heart of the library as a digital archive and its mission for accessible digitized materials. I believe that in our new digital era search experience is a deal-breaker for Libraries.   
                </p>
            </div>
            
            <div class="case-study-section">
                <h4>From OTB third-party solution to a custom-built search system</h4>
                <section class="section-divider"></section>
                <p>
                    Currently, the Library uses "Primo Ex-Libris" OTB solution, with some little tweaks done throughout the years, as the main catalog search engine. That was our main starting point, and <b>the goal was to improve the UI and UX of the OTB experience</b>, based on the user feedback, align it with the new Design System, and launch a beta version to navigate at least 5% of the overall traffic to these new pages for further testing.  
                </p>
            </div>
            <div class="case-study-section">
                <h4>User research</h4>
                <section class="section-divider"></section>
                <p>
                    The goal of PM's user research was to understand what works on our current search page and what does not. We later worked together to leverage the research results and provide the best UX solution.  
                </p>
                <p>The research included two parts, a satisfaction survey, and an in-depth questionnaire. Overall, 592 users took part in the surveys, and 76 of them answered the in-depth questions.**‍**</p>
                <img class="case-study-image" src="/assets/nli_questionaire.png" alt="User research">
                <p class="caption">The average satisfaction level with the search experience is medium (3.3), 50% couldn't find what they were looking for.</p>
                <p>Here are some of the user feedback:</p>
                
                <blockquote>"Is the book [X] available online?"</blockquote>
                <blockquote>"There is an online book, but it says I can not view it because I do not have permission! So why are you putting it in the catalog? For beauty?"</blockquote>
                <blockquote>"There is no way to browse through author lists, which makes it very difficult to find a particular author whose last name is known but whose first name is unknown."</blockquote>
                <blockquote>"The spaces between the items and the rows are very large, and you have to scroll a lot to get to the items. In my opinion (and I work and have worked with five library programs) it's better to have more items on the page..."</blockquote>
                <blockquote>"Sometimes you have to try a lot of keywords to search to find a result that was supposed to be available in the keywords you tried before"</blockquote>
                
            </div>
            <div class="case-study-section">
                <h4>Key research conclusions</h4>
                <section class="section-divider"></section>
                <p>
                    <b>Average satisfaction level</b> with the search experience is <b>medium (3.3)</b> 
                </p>
                <p>
                    <b>Digital availability</b> — There are many people searching online for digital materials accessible from home, but they are frustrated by both the lack of available materials and the _inaccurate marking of results_.  
                </p>
                <p>
                    <b>Search properties</b> — Users of the in-depth survey, mostly researchers, do look for books, but also for other relevant materials (<i>no longer just books!</i>)  
                </p>
                <p>— Users are equally divided between those looking for a <b>particular item</b> and those looking for items on a <b>particular topic</b>, and both scenarios need to be addressed </p>
                <p>— There is still a demand for <b>catalog information</b> - about 40% of those who responded to the in-depth survey searched for this type of information for various uses (not just "planning a visit" to the library)</p>
                <p>
                    <b>Usability</b> — Users wanted to <b>see more results</b> without the need for additional loading / browsing, and to get more information on the screen to save scrolling  
                </p>
                <p>
                    <b>Typo sensitivity</b> — Inquiry for less "sensitivity" to typos.
                </p>
            </div>
            <div class="case-study-section">
                <h4>UX Goals</h4>
                <section class="section-divider"></section>
                <p>
                    Here are some of the goals that we set to address in design and specifications, based on the research conclusions: 
                </p>
                <ul>
                    <li>Creating a <b>new and improved search interface</b>, which allows for a <b>quick visual scan</b> and <b>adapted to the different types of material</b></li>
                    <li>Improving predefined search capabilities (author only, title only) through <b>autocomplete</b></li>
                    <li>Reducing and <b>improving search filters</b></li>
                    <li>Consolidate all the materials into the main search</li>
                    <li>Improving the <b>accuracy of "online access" mark</b></li>
                    <li>Improving the sorting of results (Ranking mechanism)</li>
                    <li>Improving topic-based search capabilities (suggesting more topics, auto-completion)</li>
                    <li>Combining different types of results (events, blog articles) with minimal damage to the <b>"cleanliness" of the results page</b></li>
                    <li>Improving existing morphological mechanisms</li>
                </ul>
            </div>
            <div class="case-study-section">
                <h4>Mapping existing features + examining options for adding new</h4>
                <section class="section-divider"></section>
                <p>
                    Together with PM we worked on the feature table, to better understand the scope of work and the functionality of each single feature, both existing and the ones we wanted to add.
                </p>
                <img class="case-study-image" src="/assets/nli-feature-map.jpg" alt="Feature table">
                <p class="caption">Feature table</p>
            </div>
            <div class="case-study-section">
                <h4>Competitive research/benchmark</h4>
                <section class="section-divider"></section>
                <p>
                    Parallel to mapping features, I went through around 30 result pages of online digital archives and libraries, and also big e-commerce websites to check various solutions they provide that enrich search experience. And of course, our ultimate reference was Google.
                </p>
            </div>
            <div class="case-study-section">
                <h4>Benchmark highlights</h4>
                <section class="section-divider"></section>
                <p>
                    <ul>
                    <li>The most common way to display different type of results was tabs.</li>
                </ul>
                </p>
                <img class="case-study-image" src="/assets/nli-search-tabs.png" alt="Benchmark">
                <p class="caption">Google and the National Library of Norway results page</p>
                <ul>
                    <li><b>Online access:</b> one of the ways to highlight this feature is to put it on the first place above all of the filters, like the Library of Congress does:</li>
                </ul>
                <img class="case-study-image" src="/assets/nli-loc-available-online.jpg" alt="Library of Congress">
                <p class="caption">Library of Congress</p>
                <ul>
                    <li><b>Filters position and behavior on mobile:</b> Ebay and Amazon probably have a good reason for placing filters in scrollable strips (my assumption: provides greater discoverability).</li>
                </ul>
                <img class="case-study-image" src="/assets/nli-amazon.png" alt="Amazon - mobile">
                <p class="caption">Amazon</p>
            </div>
            <div class="case-study-section">
                <h4>Design explorations</h4>
                <section class="section-divider"></section>
                <p>
                    Together with my design colleague we explored two major design versions: <b>version A</b> and <b>version B</b> - with filters in a sidebar and filters on the top of the page very close to the search bar.
                </p>
                <img class="case-study-image" src="/assets/nli-search-version-a.png" alt="Version A">
                <p class="caption">My design option — Version A — with filters below the search bar. This position, supported by icons, provides greater discoverability of the filters.</p>
                <img class="case-study-image" src="/assets/nli-search-version-b.png" alt="Version B">
                <p class="caption">Version B — my designer colleague Shahar's version — filters side-bar — allows placing a large amount of filters without making users work too hard to get to them.</p>
                <p>
                    In one hand, top location provided greater discoverability of the facets. In the other, the amount of filters will be a problem, since for most screen resolutions, the filters will be cut off.
                </p>
                <p>
                    Therefore, we decided to go with version B, with filters in a side-bar.
                </p>
            </div>
            <div class="case-study-section">
                <h4>Feature highlights</h4>
                <section class="section-divider"></section>
                <img class="case-study-image" src="/assets/nli-search-highlight-1.jpg" alt="Feature highlights">
            </div>
            <div class="case-study-section">
                <h4>Summary</h4>
                <section class="section-divider"></section>
                <p>
                    What was done:
                 <ul>
                    <li>Implemented a new design based on cross-platform Design System</li>
                    <li>Created responsive (including missing mobile version) trilingual design, with list and grid view</li>
                    <li>Improved UX based on user research insights, balancing between technical constraints and user needs</li>
                 </ul>
                </p>
                <p>
                    After the release, we received a lot of positive feedback, both from our users and inside the organization.
                </p>
                <p>
                    Credit to the incredible people I was privileged to work with on this project:  
                    product management - Danny Streifler, Karin Tzadok, design - Shahar Ben Sidi, project management - Eyal Tamam
                </p>
            </div>
            <div class="case-study-section">
                <h4>What I learned</h4>
                <section class="section-divider"></section>
                <p> During my time in the Library,
                    <ul>
                        <li>I was part of a design and product team that led end-to-end design for core NLI products, including benchmarking, wireframing, and QA</li>
                        <li>Revamped site architecture with an SEO-first approach</li>
                        <li>Designed dozens of page templates and features, enhancing data accessibility and user experience</li>
                        <li>Established NLI's first Design System as part of the design team</li>
                        <li>The team achieved remarkable growth in monthly sessions, rising from 70,000 in 2018 to 1,900,000 in 2020, and reached 3,000,000 by 2023</li>
                    </ul>
                </p>
            </div>
            <div class="next-case-study">
                <a href="/dagshub">Read about my work at DagsHub MLOps</a>
            </div>
        </main>
  
    </Layout>
    
    </body>
    </html>
