---
---

<footer>
    <div class="footer-row first">
        <a href="assets/anna_hyatt_cv_2025.pdf" target="_blank">Download my CV</a>
        <a href="https://www.linkedin.com/in/anna-hyatt-design/" target="_blank">Linkedin</a>
    </div>
    <div class="footer-row second">
        <p class="footer-text">aesthyatt@gmail.com</p>
        <p class="footer-text">052-665-66-83</p>
    </div>
        <div class="footer-row">© Designed and developed with ♥ by me. Anna Hyatt · 2025
        </div>
  </footer>