---
---

<footer>
    <div class="footer-row first">
        <a href="/my-portfolio/assets/anna_hyatt_cv.pdf">Download my CV</a>
        <a href="https://www.linkedin.com/in/anna-hyatt-design/">Linkedin</a></div>
        <div class="footer-row">© Designed and developed with care 🪻 by me, Anna Hyatt, 2025</div>
  </footer>