---
--- 

<header>
    <nav>
      <ul>
        <li><a href="/">Anna Hyatt</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="assets/anna_hyatt_cv_2025.pdf" target="_blank">Download my CV</a></li>
      </ul>
    </nav>
</header>